::-webkit-scrollbar {
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.grafico {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 2rem;
    max-width: calc(100vw - 4rem);
}

.grafico>div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 2.5rem;
    background-color: var(--cor-barra);
    font-size: 12px;
    box-shadow: inset 2px 2px 10px #0000008f;
    transition: box-shadow 150ms;
}

.grafico>div:hover {
    box-shadow: none;
}