/* customizando a barra de rolagem do gráfico */
.grafico::-webkit-scrollbar {
    height: 12px;
}

.grafico::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}

.grafico::-webkit-scrollbar-thumb {
    background: #888;
}

.grafico {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 2rem;
    max-width: calc(100vw - 4rem);
}

.grafico>div {
    color: #fff;
    min-width: 2.5rem;
    background-color: var(--cor-barra);
    font-size: 12px;
    transition: filter 150ms;
}

.grafico>div:hover {
    filter: brightness(1.2);
}

@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-track {
        background-color: #ccc;
    }
}